<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
<title>Aneka Shop - {{ page.title }}</title>
<meta name="description" content="Semua produk terbaik tersedia disini" />
<meta name="keywords" content="produk, eccomerce, katalog, jual online, affiliate" />
{% include css.html %}
</head>
<body>
<!-- partial:index.partial.html -->
<script type="text/javascript">
	atOptions = {
		'key' : '5d0021be39888ae32c7a8eb3b2e55c11',
		'format' : 'iframe',
		'height' : 90,
		'width' : 728,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/5d0021be39888ae32c7a8eb3b2e55c11/invoke.js"></scr' + 'ipt>');
</script>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <table summary="database clashmwns" class="table table-bordered table-hover dt-responsive">
      <h3 class="text-center">Aneka Shop</h3>
        <caption class="text-center">Semua produk tersedia disini</caption>
        <thead>
          <tr>
            <th>Foto Produk</th>
            <th>Nama Produk</th>
            <th>Kategori</th>
            <th>Harga</th>
            <th>Pesan Produk</th>
          </tr>
        </thead>
        <tbody>
{{ content }}
</tbody>
<tfoot>
<tr>
{% include navigasi.html %}
</tr>
</tfoot>
</table>
</div>
</div>
</div>
<script type="text/javascript">
	atOptions = {
		'key' : '5d0021be39888ae32c7a8eb3b2e55c11',
		'format' : 'iframe',
		'height' : 90,
		'width' : 728,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/5d0021be39888ae32c7a8eb3b2e55c11/invoke.js"></scr' + 'ipt>');
</script>
{% include javascript.html %}
</body>
</html>
