---
layout: default
disqus: false
archive: false
post_class: post-template
---

<!-- Begin Article
================================================== -->

	<div class="row">
		

		<!-- Post -->        
        {% assign author = site.authors[page.author] %}
        
		<div class="col-sm-8">
            <!-- Post Featured Image -->
			{% if page.image %}<img class="featured-image img-fluid rounded" src="{{ site.baseurl }}/{{ page.image }}" alt="{{ page.title }}">{% endif %}
			<!-- End Featured Image -->
			<div class="mainheading">             
                
                <!-- Post Categories -->
                <div class="after-post-tags">
                    <ul class="tags">
                        {% assign sortedCategories = page.categories | sort %}
                        {% for category in sortedCategories %}
                        <li>
                         <a href="{{ site.baseurl }}/kategori-produk#{{ category | slugify }}">{{ category }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- End Categories -->
                
                <!-- Post Title -->
		<h1 class="posttitle">{{ page.title }}</h1>
		<h4>Harga: {{ page.harga }}</h4>
		<a href="{{ page.link }}" ><button type="button" class="btn btn-success">Beli Sekarang</button></a>
		</div>			
<br>
<!-- Post Content -->
<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Slide 9"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="9" aria-label="Slide 10"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img style="width:100%;height:300px;" class="featured-image img-fluid rounded" src="{{ site.baseurl }}/{{ page.image1 }}" alt="produk1">
    </div>
    <div class="carousel-item">
      <img style="width:100%;height:300px;" class="featured-image img-fluid rounded" src="{{ site.baseurl }}/{{ page.image2 }}" alt="produk2">
    </div>
    <div class="carousel-item">
      <img style="width:100%;height:300px;" class="featured-image img-fluid rounded" src="{{ site.baseurl }}/{{ page.image3 }}" alt="produk3">
    </div>
    <div class="carousel-item">
      <img style="width:100%;height:300px;" class="featured-image img-fluid rounded" src="{{ site.baseurl }}/{{ page.image4 }}" alt="produk4">
    </div>
    <div class="carousel-item">
      <img style="width:100%;height:300px;" class="featured-image img-fluid rounded" src="{{ site.baseurl }}/{{ page.image5 }}" alt="produk5">
    </div>
    <div class="carousel-item">
      <img style="width:100%;height:300px;" class="featured-image img-fluid rounded" src="{{ site.baseurl }}/{{ page.image6 }}" alt="produk6">
    </div>
    <div class="carousel-item">
      <img style="width:100%;height:300px;" class="featured-image img-fluid rounded" src="{{ site.baseurl }}/{{ page.image7 }}" alt="produk7">
    </div>
    <div class="carousel-item">
      <img style="width:100%;height:300px;" class="featured-image img-fluid rounded" src="{{ site.baseurl }}/{{ page.image8 }}" alt="produk8">
    </div>
    <div class="carousel-item">
      <img style="width:100%;height:300px;" class="featured-image img-fluid rounded" src="{{ site.baseurl }}/{{ page.image9 }}" alt="produk9">
    </div>
    <div class="carousel-item">
      <img style="width:100%;height:300px;" class="featured-image img-fluid rounded" src="{{ site.baseurl }}/{{ page.image10 }}" alt="produk10">
    </div>
  </div>
</div>
		<div class="article-post serif-font">
		<h3>Deskripsi produk:</h3>
		{{content}}
                <div class="clearfix"></div>
			</div>

            <!-- Post Date -->
            <p>
            <small>
                <span class="post-date"><time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time></span>           
                {% if page.last_modified_at %}
                (Updated: <time datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">{{ page.last_modified_at | date: "%b %-d, %Y" }}</time>)
                {% endif %}
                </small>
            </p>
            
			
            
            <!-- Prev/Next -->
            <div class="row PageNavigation mt-4 prevnextlinks d-flex justify-content-between">
              {% if page.previous.url %}
                <div class="col-md-6 rightborder pl-0">
                    <a class="thepostlink" href="{{page.previous.url | absolute_url}}">&laquo; {{page.previous.title}}</a>
                </div>
              {% endif %}
              {% if page.next.url %}
                <div class="col-md-6 text-right pr-0">
                    <a class="thepostlink" href="{{page.next.url | absolute_url}}">{{page.next.title}} &raquo;</a>
                </div>
              {% endif %}
            </div>
            <!-- End Prev/Next -->
            
            
             <!-- Author Box -->
                {% if page.author %}				
				<div class="row post-top-meta">
					<div class="col-md-2">
						<img class="author-thumb" src="{{site.baseurl}}/{{author.avatar}}" alt="{{ author.display_name }}">
					</div>
					<div class="col-md-10">
						<a target="_blank" class="link-dark" href="{{ author.web }}">{{ author.display_name }}</a><a target="_blank" href="{{ author.twitter }}" class="btn follow">Follow</a>
						<span class="author-description">{{ author.description }}</span>						
					</div>
				</div>				
                {% endif %}
            
            
            <!-- Begin Comments
            ================================================== -->
            <section>
            <div id="comments">                          
                {% include disqus.html %} 
            </div>
            </section>
            <!--End Comments
            ================================================== -->
            
            

		</div>
		<!-- End Post -->


        

		<!-- Sidebar -->
        <div class="col-sm-4">
            {% include sidebar.html %}
            </div>
        
        

	</div>

<!-- End Article
================================================== -->
